<div id="schedule" style="width: 250px;">
	<div class="schedule_day"><label>Mon:</label><%=schedule.to_s(:monday)%></div>
	<div class="schedule_day"><label>Tue:</label><%=schedule.to_s(:tuesday)%></div>
	<div class="schedule_day"><label>Wed:</label><%=schedule.to_s(:wednesday)%></div>
	<div class="schedule_day"><label>Thu:</label><%=schedule.to_s(:thursday)%></div>
	<div class="schedule_day"><label>Fri:</label><%=schedule.to_s(:friday)%></div>
	<div class="schedule_day"><label>Sat:</label><%=schedule.to_s(:saturday)%></div>
	<div class="schedule_day"><label>Sun:</label><%=schedule.to_s(:sunday)%></div>
</div>