<h1>New Ad Placement</h1>

<% form_for(@ad_placement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ad_block_id, "Ad Location" %><br />
    <%= f.collection_select :ad_block_id, AdBlock.all, :id, :location, {:prompt => true} %>
  </p>
  <p>
    <%= f.label :ad_id, "Ad" %><br />
    <%= f.collection_select :ad_id, Ad.all, :id, :name, {:prompt => true} %>
  </p>
  <p>
    <%= f.label :affiliate_group_id %><br />
    <%= f.collection_select :affiliate_group_id, AffiliateGroup.all, :id, :name, {:prompt => "ALL"} %>
  </p>
  <p>
    <%= f.submit 'Place Ad' %>
  </p>
<% end %>

<%= link_to 'Back', ad_placements_path %>