<% @title = "Edit My Information" %>

<div id="edit_user_info">
	
	<%= nested_error_messages_for :user %>
	<% form_for(@user) do |f| -%>
		<p><%= label_tag 'email' %><br/>
		<%= f.text_field :email, :size => 30 %></p>

		<%= link_to_function('change password', "$('change_password').show(); this.hide();") %>
		<div id="change_password" style="display: none">
			<p><%= label_tag 'password' %><br/>
			<%= f.password_field :password %></p>

			<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
			<%= f.password_field :password_confirmation %></p>
		</div>

		<div id="optional">
			<h3>Location</h3>
			<% f.fields_for :data do |data| -%>
				<%=render :partial => '/businesses/location_form', :object => data, 
						:locals => { :location => @user.location }%>
			<% end -%>

			<h3>Extra email addresses</h3>
			<p><%= label_tag 'email2' %><br/>
			<%= f.text_field :email2 %></p>		

			<p><%= label_tag 'email3' %><br/>
			<%= f.text_field :email3 %></p>		
		</div>

		<p><%= submit_tag 'Update' %></p>
	<% end -%>
</div>

<p><%= link_to "Cancel! I don't want to change anything", myaccount_path %>