<h1>New coupon</h1>

<% form_for(@coupon) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :coupon_template_id %><br />
    <%= f.text_field :coupon_template_id %>
  </p>
  <p>
    <%= f.label :business_id %><br />
    <%= f.text_field :business_id %>
  </p>
  <p>
    <%= f.label :image_id %><br />
    <%= f.text_field :image_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', coupons_path %>
