<% @title = "Editing offer" %>

<% form_for(@offer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @offer %> |
<%= link_to 'Back', offers_path %>
