<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_field :description %>
</p>
<p>
  <%= form.label :has_logos %><br/>
  <%= form.check_box :has_logos %>
</p>
<p>
  <%= form.label :enabled %><br/>
  <%= form.check_box :enabled %>
</p>