<% content_for("page_scripts") do -%>
<script type="text/javascript">
	function toggleOpt() {
		$('optional').toggle();
	}
</script>
<% end %>

<h1></h1>
<div id="user_info" class="admin_form margin_top_10">
	<h2>Create a New User</h2>
	<% @user.password = @user.password_confirmation = nil %>

	<%= nested_error_messages_for :user %>
	<% form_for([:admin, @user]) do |f| -%>
		<p><%= label_tag 'email' %><br/>
		<%= f.text_field :email, :size => 30 %></p>

		<p><%= label_tag 'password' %><br/>
		<%= f.password_field :password %></p>

		<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
		<%= f.password_field :password_confirmation %></p>
		
		<p><%= label_tag 'zip' %><br/>
		<%= f.text_field :zip, :size => 5 %></p>
		
		<p><%= f.check_box :admin %> Admin User</p>
		
		<% if current_user.sysadmin? %>
		  <p>
         <%= f.label :affiliate_id, "Make administrator of" %><br/>
         <%= f.collection_select :affiliate_group_id, AffiliateGroup.all, :id, :name, {:prompt => true} %>
       </p>
		
	    <p><%= f.check_box :sysadmin %> Super User
	      <em><strong>*Grant with caution! Super users can view all accounts, users, and data and can modify the system in potentially destructive ways!</strong></em>
	    </p>	    
	  <% end %>
		

		<p>Show optional fields: <input id="show_opt" type="checkbox" value="1" onclick="toggleOpt();" /></p>
		
		<div id="optional" style="display: none">
			<h3>Location</h3>
			<% f.fields_for :data do |data| -%>
				<%=render :partial => '/businesses/location_form', :object => data, 
						:locals => { :location => @user.location }%>
			<% end -%>

			<h3>Extra email addresses</h3>
			<p><%= label_tag 'email2' %><br/>
			<%= f.text_field :email2 %></p>		

			<p><%= label_tag 'email3' %><br/>
			<%= f.text_field :email3 %></p>		
		</div>
	  <% unless params[:coupon_id].blank? %>
	    <%= hidden_field_tag :coupon_id, params[:coupon_id] %>
	  <% end %>

		<p><%= submit_tag 'Sign up' %> | <%= link_to "Cancel and go back to user list", admin_users_path %></p>
	<% end -%>
</div>